<script src="{{asset('js/jquery.min.js')}}" type="text/javascript"></script>
<img style="margin-left:4%;width:10%" src="{{ asset('img/brokinsloggo.PNG') }}" alt="">
<img src="">
<script src="{{asset('js/highcharts.js')}}"></script> <script src="{{asset('js/exporting.js')}}"></script> <script type="text/javascript">     {{ chart(chart) }} </script>
<div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>{# empty Twig template #}
<br><br>
<a  style="margin-left:48%" href="../admin/backend/brokins/partenaireassureur/list">Services</a>
